<%- include('partials/head') %>
<%- include('partials/header') %>



<body>
    <h1>Data Feed</h1>
    <% if (locals.feedItems && locals.feedItems.length > 0) { %>
        <table>
          <thead>
            <tr>
              <th>Department</th>
              <th>Shift</th>
              <th>Attendance (Actual/Target)</th>
              <th>Trucks in Service (Actual/Target)</th>
              <th>Complex Time (Actual/Target)</th>
            </tr>
          </thead>
          <tbody>
            <% for (const entry of locals.feedItems) { %>
              <tr>
                <td><%= entry.department %></td>
                <td><%= entry.user.shift %></td>
                <td><%= entry.attendanceActual + " / " + entry.attendanceTarget %></td>
                <td><%= entry.trucksInServiceActual + " / " + entry.trucksInServiceTarget %></td>
                <td>
                  <%= entry.complexTimeActual + " / " + entry.complexTimeTarget %>
                </td>
              </tr>
            <% } %>
          </tbody>
        </table>
      <% } else { %>
        <p>No feed items available.</p>
      <% } %>
</body>

<%- include("partials/footer") %>