<%- include('partials/head') %>
<%- include('partials/header') %>



<body>
    <h1>Pulse Check for <% locals.date %> </h1>

    <% if (locals.feedItems && locals.feedItems.length > 0) { %>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th scope="col">Department</th>
              <th scope="col">Shift</th>
              <th scope="col">Attendance (Actual/Target)</th>
              <th scope="col">Trucks in Service (Actual/Target)</th>
              <th scope="col">Complex Time (Actual/Target)</th>
            </tr>
          </thead>
          <tbody>
            <% for (const entry of locals.feedItems) { %>
              <tr>
                <td><%= entry.department %></td>
                <td><%= entry.shift %></td>
                <td class="text-center"><%= entry.attendanceActual + " / " + entry.attendanceTarget %></td>
                <td class="text-center"><%= entry.trucksInServiceActual + " / " + entry.trucksInServiceTarget %></td>
                <td class="text-center"><%= entry.complexTimeActual + " / " + entry.complexTimeTarget %></td>
              </tr>
            <% } %>
          </tbody>
        </table>
      <% } else { %>
        <p>No feed items available.</p>
      <% } %>
</body>

<%- include("partials/footer") %>