<%- include('partials/head') %>
<%- include('partials/header') %>

<body>
    <% if (user) { %>
        <h3>Hello <%= user.firstName.charAt(0).toUpperCase() + user.firstName.slice(1) %>, please enter the pulse check data for the 
          (<%= user.shift %> - <%= user.department %>) department:</h3>
      <% } %>

  <form class="staffing" action="/pulseCheck/createPulseCheck" method='POST'>
    <label>Please enter select todays date below:</label>
      <input type="date" name="date" id="date" min="1980-01-01" max="2025-01-01" required>
    <label for="attendanceTarget">Attendance (Target):</label>
      <input type="number" name="attendanceTarget" id="attendanceTarget" required>
    <label for="attendanceActual">Attendance (Actual):</label>
      <input type="number" name="attendanceActual" id="attendanceActual" required> 
    <label for="complexTimeTarget">Complex Time (Target):</label>
      <input type="number" name="complexTimeTarget" id="complexTimeTarget" required>
    <label for="complexTimeActual">Complex Time (Actual):</label>
      <input type="number" name="complexTimeActual" id="complexTimeActual" required> 
    <label>Trucks for the day:</label>
      <input type="text" class="form-control" placeholder="# Trucks" name="trucksInServiceTarget">
    <label>Trucks in Service at the moment:</label>
      <input type="text" class="form-control" placeholder="# Trucks in service" name="trucksInServiceActual">
    <!-- <div class="checkboxes-col">
      <label><input type="checkbox" name="supplyRoomDelivery" id="supplyRoomDelivery">Supply Room Delivery</label>
      <label><input type="checkbox" name="warehouseDelivery" id="warehouseDelivery">501 Warehouse Delivery</label>
      <label><input type="checkbox" name="icer" id="icer">Icer</label>
      <label><input type="checkbox" name="flight checker" id="flightChecker">Flight Checker</label>
      <label><input type="checkbox" name="qcp" id="qcp">QCP</label>
    </div>
    <div class="checkboxes-col">
      <label><input type="checkbox" name="mpIds" id="mpIds" >M&P IDS</label>
      <label><input type="checkbox" name="supplyTruck" id="supplyTruck">Supply Truck</label>
      <label><input type="checkbox" name="rampExchangeTruck" id="rampExchangeTruck">Ramp Exchange Truck</label>
      <label><input type="checkbox" name="tempIceTrailer" id="tempIceTrailer">Temp Check Ice Trailer</label>
      <label><input type="checkbox" name="tempCoolers" id="tempCoolers">Temp Check Coolers</label>
    </div>  -->
    <br>
    <input type="hidden" name="userId" value="<%= user._id %>">
    <input type="hidden" name="department" value="<%= user.department %>">
    <input type="hidden" name="shift" value="<%= user.shift %>">

    <button type="submit">Submit Pulse Check</button>
  </form>
    <!-- <label>Enter your target staffing levels:</label>
        <input class="staffing" type="text" placeholder="Staffing #" name='targetStaffingLevels'> -->
     
    <!-- <label>Enter your current staffing levels:</label>
        <input class="staffing" type="text" placeholder="Staffing #" name='currentStaffingLevels'> -->

 
    <!-- <div class="departmentInput">
      <div > -->

        <!-- <label>What time are you entering for?</label>
        <select name="complexTime" id="complexTime" >
            <option value="6:00 AM">6:00 AM</option>
            <option value="8:00 AM">8:00 AM</option>
            <option value="11:00 AM">11:00 AM</option>
            <option value="1:00 PM">1:00 PM</option>
            <option value="4:00 PM">4:00 PM</option>
            <option value="7:00 PM">7:00 PM</option>
            <option value="10:00 PM">10:00 PM</option>
          </select>  -->
        <!-- <label>What Complex are you on?</label>
        <select name="complexNumber" id="complexNumber" >
            <option value="06">06</option>
            <option value="07">07</option>
            <option value="08">08</option>
            <option value="09">09</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
          </select> -->

  <!-- <h3>Trial Data Input area for each department</h3>
  <form class="checkPoint" action="/pulseCheck/createPulseCheck" method='POST'>
    <div>
      <div >
        <label>Please enter select todays date below:</label>
        <input type="date" name="date" id="date" min="1980-01-01" max="2025-01-01" required>
        <label>Trucks for the day:</label>
        <input type="text" class="form-control" placeholder="# Trucks" name="trucksTarget">
        <label>Trucks in Service at the moment:</label>
        <input type="text" class="form-control" placeholder="# Trucks in service" name="trucksInService">
      </div>
      <div class="checkboxes-col">
        <label><input type="checkbox" name="supplyRoomDelivery"  id="supplyRoomDelivery"  >Supply Room Delivery</label>
        <label><input type="checkbox" name="warehouseDelivery"  id="warehouseDelivery">501 Warehouse Delivery</label>
        <label><input type="checkbox" name="icer"  id="icer">Icer</label>
        <label><input type="checkbox" name="flight checker" id="flightChecker">Flight Checker</label>
        <label><input type="checkbox" name="qcp"  id="qcp">QCP</label>
      </div>
      <div class="checkboxes-col">
        <label><input type="checkbox" name="mpIds"  id="mpIds" >M&P IDS</label>
        <label><input type="checkbox" name="supplyTruck" id="supplyTruck">Supply Truck</label>
        <label><input type="checkbox" name="rampExchangeTruck" id="rampExchangeTruck">Ramp Exchange Truck</label>
        <label><input type="checkbox" name="tempIceTrailer" id="tempIceTrailer">Temp Check Ice Trailer</label>
        <label><input type="checkbox" name="tempCoolers" id="tempCoolers">Temp Check Coolers</label>
      </div>
    </div>
    <input type="submit" value="Save Changes">
    </form> -->

    <!-- <div class="mt-lg">
        <h5>Your current tracked staffing</h5>
        <ul class="tracked-weights">
            <% pulseCheck.forEach( el => { %> 
                    <li class='cell' data-id='<%=el._id%>'>
                        <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.currentStaffingLevels %></span>
                        <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.date %></span>
                        <span class='del'> Delete </span>
                    </li>
            <% }) %>    
        </ul>
    </div> -->
<!-- 
          <div class="d-grid mt-3">
          <button type="submit" class="btn btn-danger">Submit</button>
          </div>
        </form> -->



    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="js/main.js"></script>
</body>

<%- include("partials/footer") %>